/* Reset styles for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style for header element */
header {
  background-color: #002b36;
  color: #fff;
  padding: 20px;
}

/* Style for container element */
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 130px);
}

/* Style for left column */
.left {
  flex-basis: 16.67%;
  background-color: #93b5c6;
  padding: 20px;
}
/* Style for left column buttons */
.left ul li a {
  display: block;
  color: #fff;
  padding: 30px 0;
  margin-bottom: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
}
/* Style for buttons */
.button-container button {
  display: block;
  margin-bottom: 10px;
  background-color: #6c8fa1;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* Style for button links */
.button-container button a {
  color: #fff;
  text-decoration: none;
}






.left ul li a:hover {
  background-color: #85a2b8;
}

/* Style for right column */
.right {
  flex-basis: 83.33%;
  background-color: #fff;
  padding: 20px;
}

/* Style for footer element */
footer {
  background-color: #002b36;
  color: #fff;
  padding: 10px;
  text-align: center;
}
/* Style for unordered list */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Style for list items */
li {
  margin-bottom: 10px;
}

/* Style for buttons */
button {
  background-color: #006d77;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

/* Style for button hover */
button:hover {
  background-color: #004f59;
}

/* Style for active button */
.active {
  background-color: #004f59;
}

/* Style for link button */
a.button {
  text-decoration: none;
  color: #fff;
}


